[data-toggle="talkative"] {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}
[data-toggle="talkative"] > * {
    display: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
[data-toggle="talkative"] > :first-child {
     display: block;
 }
[data-toggle="talkative"] > div.talkative-container {
    position: absolute;
    display: block;
    padding: 0;
}
[data-toggle="talkative"] > div.talkative-container > * {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: none;
}
[data-toggle="talkative"] > div.talkative-container.roll > * {
    color: transparent;
}
