[data-toggle="talkative"] {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}
[data-toggle="talkative"] > span {
    display: none;
    padding-top: 5px;
    padding-top: 5px;
}
[data-toggle="talkative"] > div {
    position: absolute;
}
[data-toggle="talkative"] > div > span {
    display: block;
    padding-top: 5px;
    padding-top: 5px;
}
[data-toggle="talkative"] > div.roll > span {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
[data-toggle="talkative"] > :first-child {
    display: block;
}